* {
  box-sizing: border-box;
}

body {
  background-image: url(images/backGround.jpg);
}

.main-container {
  background-color: rgba(243, 247, 9, 0.707);
  width: 70%; 
  margin: auto;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

header {
  background-color: rgba(45, 55, 187, .8);
  text-align: center;
  font-size: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

header h1, h2, button, .p1-name-disp, .p2-name-disp, .round {
  font-family: 'Carter One', cursive;
  text-decoration: underline;

}

section {
  background-color: rgb(83, 119, 155);
  margin-top: -43px;
  padding: 2%;
}

section h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.game-info {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-row-gap: 1rem;
  width: 80%;
  margin: 1% auto 1% auto;
  font-size: 1.5rem;
  justify-content: stretch;
  font-family: 'Roboto', sans-serif;
}

.game-info div {
  text-align: center;
  margin-bottom: -1rem;
}

.p1-score, .p2-score, .round-num {
  font-family: 'Unkempt', cursive;
  font-size: 3rem;
}

nav  {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

button {
  text-align: center;
  font-size: 1.5rem;
  border-radius: 1rem;
  text-decoration: none;
  background-color: rgba(127, 255, 212, 0.221);
  border-color: black;
}

button:hover {
  color: rgba(255, 255, 0, 0.693);
  text-decoration: underline;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 1rem;
  width: 75%;
  height: 3rem;
  margin: auto;
}

.inputs input {
  background-color: rgba(7, 129, 142, 0.31);
  border-color: black;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

::placeholder {
  color: rgba(0, 0, 0, 0.385);
}

.winner {
  text-align: center;
  padding: 1rem 0 .5rem 0;
  font-family: 'Carter One', cursive;
  font-size: 3rem;
  color: red;
}

.game-gridwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 40rem;
  margin: 5% auto;
  /* background-color: rgba(60, 157, 71, 0.762); */
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  font-family: 'Unkempt', cursive;
  
}

.rb-border {
  border-right: .5rem solid black;
  border-bottom: .5rem solid black;
}

.lb-border {
  border-left: .5rem solid black;
  border-bottom: .5rem solid black;
}

.l-border {
  border-left: .5rem solid black;
}

.r-border {
  border-right: .5rem solid black;
}

.b-border {
  border-bottom: .5rem solid black;
}